@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --primary-background-color: #927dfc;
    --secondary-background-color: #232323;
    --default-text-color: #fff;
    --default-border-radius: 15px;
    --default-outline-color: #afafaf;
}

@mixin flexCenter($display, $justify, $align, $direction) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin widthHeight($width, $height) {
    width: $width;
    height: $height;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    @include widthHeight(auto, 100vh);
    @include flexCenter(flex, center, center, row);
    font-size: 16px;
    font-family: "montserrat", "san-serif";
    background-color: var(--secondary-background-color);
}

.wrapper {
    @include widthHeight(420px, auto);
    background-color: #fff;
    padding: 2rem;
    border-radius: var(--default-border-radius);

    .upload-box {
        @include widthHeight(100%, auto);
        @include flexCenter(flex, center, center, column);
        min-height: 200px;
        border-radius: 8px;
        border: 2px dotted var(--default-outline-color);
        cursor: pointer;

        .preview-image {
            @include widthHeight(100%, auto);
            // object-fit: cover;
        }

        .fa-upload {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
            color: var(--primary-background-color);
        }
    }

    .upload-box.active {
        border: none;

        .fa-upload,
        p {
            display: none;
        }
    }

    .config-box {
        .row {
            display: flex;
            justify-content: space-between;

            .column {
                margin-top: 0.5rem;
                width: calc(100% / 2 - 15px);
            }
        }

        .measurement-container {
            margin-block: 1rem;

            .measurement label {
                display: flex;
                font-size: 1rem;
                margin-bottom: 0.25rem;
            }

            .measurement input {
                @include widthHeight(100%, 40px);
                outline: none;
                border-radius: 4px;
                border: 1px solid var(--default-outline-color);
                padding-inline: 0.5rem;
                font-size: 1rem;

                &:focus {
                    border-color: var(--primary-background-color);
                }
            }
        }

        .setting-container {
            margin-bottom: 1rem;

            .setting.column {
                display: flex;
                align-items: center;
            }

            .setting input {
                @include widthHeight(17px, 17px);
                margin-right: 0.5rem;
                accent-color: var(--primary-background-color);
            }
        }

        .btn-download {
            width: 100%;
            border: none;
            outline: none;
            padding: 1rem;
            border-radius: 5px;
            color: var(--default-text-color);
            background-color: var(--primary-background-color);
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
                background-color: #6a54dc;
            }
        }
    }
}
